body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}
header{
    background-color: rgb(27, 38, 49);
}
header img{
    height: 60px;
    width: auto;
    margin-left: 30px;
}
.rooster img{
    height: 300px;
    width: auto;
    margin: 2%;
}
.rooster{
    color: #F1F5F9;
    display: inline-flex;
    border-bottom: #F1F5F9 1px solid;
}
.rooster-info{
    margin: 10px;
}
a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-right: 3px;
    margin-left: 3px;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    padding: 1% 0;
    margin-right: 50px;
}
main{
    background-color: rgb(27, 38, 49);
    color: #F1F5F9;
}